@{Layout = "~/Views/Shared/_Layout.cshtml";}

@section navigation_bar{
    <li><a href="~/Home/Index">Home page</a></li>
    <li class="active"><a href="#">About Us</a></li>
    <li><a href="~/Home/Signup">SignUp</a></li>
    <li><a href="~/Home/Contact">Contact Us</a></li>  
    }

<div class="ic">More Website Templates TemplateMonster.com. December10, 2011!</div>
<div class="content-bg">
    <div class="main">
        <div class="container_12">
            <div class="wrapper img-indent-bot">
                <article class="grid_12">
                    <h3>Main Services Overview</h3>
                    <div class="wrapper p3">
                        <article class="grid_4 alpha">
                            <div class="wrapper">
                                <figure class="img-indent3"><img src="~/images/page3-img1.png" alt="" /></figure>
                                <div class="extra-wrap">
                                    <h4 class="p1">Technology <strong>Consulting</strong></h4>
                                    <p class="prev-indent-bot">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lau dantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                                    <a class="link-1" href="#">Know More</a>
                                </div>
                            </div>
                        </article>
                        <article class="grid_4">
                            <div class="wrapper">
                                <figure class="img-indent2"><img src="~/images/page3-img2.png" alt="" /></figure>
                                <div class="extra-wrap">
                                    <h4 class="p1">Software <strong>Development</strong></h4>
                                    <p class="prev-indent-bot">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lau dantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                                    <a class="link-1" href="#">Know More</a>
                                </div>
                            </div>
                        </article>
                        <article class="grid_4 omega">
                            <div class="indent-left3">
                                <div class="wrapper">
                                    <figure class="img-indent3"><img src="~/images/page3-img3.png" alt="" /></figure>
                                    <div class="extra-wrap">
                                        <h4 class="p1">Interactive <strong>Web Design</strong></h4>
                                        <p class="prev-indent-bot">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lau dantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                                        <a class="link-1" href="#">Know More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="wrapper">
                        <article class="grid_4 alpha">
                            <div class="wrapper">
                                <figure class="img-indent3"><img src="~/images/page3-img4.png" alt="" /></figure>
                                <div class="extra-wrap">
                                    <h4 class="p1">Staff <strong>Augmentation</strong></h4>
                                    <p class="prev-indent-bot">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lau dantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                                    <a class="link-1" href="#">Know More</a>
                                </div>
                            </div>
                        </article>
                        <article class="grid_4">
                            <div class="wrapper">
                                <figure class="img-indent2"><img src="~/images/page3-img5.png" alt="" /></figure>
                                <div class="extra-wrap">
                                    <h4 class="p1">Interactive <strong>Marketing</strong></h4>
                                    <p class="prev-indent-bot">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lau dantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                                    <a class="link-1" href="#">Know More</a>
                                </div>
                            </div>
                        </article>
                        <article class="grid_4 omega">
                            <div class="indent-left3">
                                <div class="wrapper">
                                    <figure class="img-indent3"><img src="~/images/page3-img6.png" alt="" /></figure>
                                    <div class="extra-wrap">
                                        <h4 class="p1">Search engine <strong>Marketing</strong></h4>
                                        <p class="prev-indent-bot">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lau dantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                                        <a class="link-1" href="#">Know More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </article>
            </div>
            <div class="wrapper">
                <article class="grid_8">
                    <h3>Additional Services</h3>
                    <div class="wrapper">
                        <figure class="img-indent"><img class="img-border" src="~/images/page3-img7.jpg" alt="" /></figure>
                        <div class="extra-wrap">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                            <ul class="list-1">
                                <li><a href="#">At vero eos et accusamus et iusto</a></li>
                                <li><a href="#">Dignissimos ducimus qui blanditiis prae</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="grid_4">
                    <div class="indent-left3">
                        <h3>How It Works</h3>
                        <div class="wrapper indent-bot">
                            <h4 class="img-indent2">Step 1</h4>
                            <div class="extra-wrap">
                                Sed ut perspiciatis unde omnis iste voluptatem quia voluptas sit asper natus error sit voluptatem accusan tium doloremque.
                            </div>
                        </div>
                        <div class="wrapper">
                            <h4 class="img-indent2">Step 2</h4>
                            <div class="extra-wrap">
                                Laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="block"></div>
</div>