@{Layout = "~/Views/Shared/_Layout.cshtml";}

@section navigation_bar{
    <li class="active"><a href="#">Home page</a></li>
    <li><a href="~/Home/Aboutus">About Us</a></li>
    <li><a href="~/Home/Signup">SignUp</a></li>
    <li><a href="~/Home/Contact">Contact Us</a></li>  
    }

<div class="ic">More Website Templates TemplateMonster.com. December10, 2011!</div>
<div class="content-bg">
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
                <article class="grid_8">
                    <h3>Welcome! Why Choose Us?</h3>
                    <em class="text-1 margin-bot">We provide you best friendly and cooperative enviorment where you can learn about latest technologies. and ask solutions of your problems from experts</em>
                    <div class="wrapper p4">
                        <article class="grid_4 alpha">
                            <div class="wrapper p1">
                                <figure class="img-indent2"><img src="~/images/page1-img1.png" alt="" /></figure>
                                <div class="extra-wrap">
                                    <div class="indent-top">
                                        <h4>STARTING UP<em>How-to</em></h4>
                                    </div>
                                </div>
                            </div>
                            <p class="prev-indent-bot">Just create free account and post your <br/>query, and you will be entertained <br/>by professionals</p>
                        </article>
                        <article class="grid_4 omega">
                            <div class="wrapper p1">
                                <figure class="img-indent2"><img src="~/images/page1-img2.png" alt="" /></figure>
                                <div class="extra-wrap">
                                    <div class="indent-top">
                                        <h4>Development<em>Strategies</em></h4>
                                    </div>
                                </div>
                            </div>
                            <p class="prev-indent-bot">Discuss development strategies about <br/>your project with experts, and get <br/>good suggestions for your work</p>
                        </article>
                    </div>
                    <div class="wrapper">
                        <article class="grid_4 alpha">
                            <div class="wrapper p1">
                                <figure class="img-indent2"><img src="~/images/page1-img3.png" alt="" /></figure>
                                <div class="extra-wrap">
                                    <div class="indent-top">
                                        <h4>Planning<em>Need Help?</em></h4>
                                    </div>
                                </div>
                            </div>
                            <p class="prev-indent-bot">Want to complete your work within<br/> time limit? Execute a good plan.</p>
                        </article>
                        <article class="grid_4 omega">
                            <div class="wrapper p1">
                                <figure class="img-indent2"><img src="~/images/page1-img4.png" alt="" /></figure>
                                <div class="extra-wrap">
                                    <div class="indent-top">
                                        <h4>INTEGRATION<em>Exploit your ideas</em></h4>
                                    </div>
                                </div>
                            </div>
                            <p class="prev-indent-bot">Discuss your ideas and knowledge <br/>with other you could get investment <br/>for your plans</p>
                        </article>
                    </div>
                </article>
                <article class="grid_4">
                    <h3>Testimonials</h3>
                    <div class="wrapper p3">
                        <figure class="img-indent"><a href="#"><img class="img-border" src="~/images/page1-img5.jpg" alt="" /></a></figure>
                        <div class="extra-wrap">
                            <span class="text-2">Director</span>
                            <h4 class="p2">Mary Ryan</h4>
                            <p class="prev-indent-bot">Ut vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum atque corrupti...</p>
                        </div>
                    </div>
                    <div class="wrapper p3">
                        <figure class="img-indent"><a href="#"><img class="img-border" src="~/images/page1-img6.jpg" alt="" /></a></figure>
                        <div class="extra-wrap">
                            <span class="text-2">Senior assistant</span>
                            <h4 class="p1">Bill Joel</h4>
                            <p class="prev-indent-bot">Ut vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum atque corrupti...</p>
                        </div>
                    </div>
                    <div class="wrapper">
                        <figure class="img-indent"><a href="#"><img class="img-border" src="~/images/page1-img7.jpg" alt="" /></a></figure>
                        <div class="extra-wrap">
                            <span class="text-2">Junior researcher</span>
                            <h4 class="prev-indent-bot">Michael Anderson</h4>
                            <p class="prev-indent-bot">Ut vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum atque corrupti...</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="block"></div>
</div>